<!DOCTYPE html>
<html>
  <head>
    <title>givingfor - giving is receiving</title>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/static/css/cover.css" type="text/css" />
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="ejs_production.js"></script>
  </head>
<script>
  var socket = io();
</script>

  <body style="background-color:#408C4B;">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container" style="width:80%">
          <div class="masthead clearfix">
            <div class="inner">
              <a href="/"><img style="float:left;height:88px;" src="/static/images/tree.png"/><h3 class="masthead-brand" style="padding-top:20px;">giving</h3><h3 class="masthead-brand" style="color:rgb(203, 204, 203);padding-top:20px;" >for</h3></a>
              <ul class="nav masthead-nav">
                <li><a href="/about/" style="padding-top:35px;">about</a></li>
                <li><a href="/discover/"><i class="fa fa-random" style="margin-right:5px;"></i>discover</a></li>
                <li><a href="/search/"><i class="fa fa-search"></i></a></li>
                <li><a data-toggle="modal" href="#login-or-signup" id="login-area">login or signup</a></li>
              </ul>
            </div>
          </div>
        </div>
        <br><br><br><br>
        <div class="inner cover">

          <p>GivingFor… is a donation web-platform based on the innate concept of giving and receiving. A simple idea, yet one that society’s structures have limited the propagation of. Rather than vying toward ultimate utility for the human race, firms are instead focused on economic incentives of profit-maximization – a figment of our imagination, inhumane in essence. Profit at its core implies that one person must lose, however GivingFor eliminates the profit incentive by allowing us to exchange that which makes us most valuable in any adaptive situation. If a gap in knowledge exists, inscribe someone to fill that gap, and then be sure to remember such positive actions in order to give in turn, and contribute to an ever propagating, whole-sustaining platform based on the basis of community – providing for each other’s subsistent needs (Whatever those may be).</p>

          <p>Our mission for givingfor is to revolutionize age-old value systems that initially developed in order to fulfill certain societal needs.  However, Collaborative systems, and apply that to a philanthropic community built on aiding one another in whichever manner possible. Primarily focused on the donation or exchange of time-effort or skillsets, money as an abundant resource, and knowledge, we hope to change how people perceive value. Through the development of a fully functioning and self-sustaining community platform, members will have access to a vast number of connections with opportunities to work on each other’s projects, or aid in the jumpstarting of the next</p>

          <p>We want to have the ability to give currency, but also the ability to give other tangible items. Skills, and time (The allocation of your skill effort). Trying to find out what people lack, and then connecting them with people who have what they need, whether it be a skill, money, or mentorship in the form of time.</p>

          <p>Giving is receiving.</p>
          <i class="fa fa-circle-thin" style="font-size:512px;"></i>
          <p>Complete transparency, a complete trail can be traced from end-to-end. When creating a project you must decide</p>
          <p>The overarching key, the one word that could sum up everything. Virality – constructing your philosophy in a way by which people will not only align with your idea, but also be excited to be a part of it. </p>
          <p>Virality is something that people can consume and share.</p>
          <p>givingfor is a transparent, nonprofit crowdgiving platform that</p>

        </div>
        <br><br><br><br>
      </div>
    </div>


  </body>
</html>
 
  