<!DOCTYPE html>
<html>
  <head>
    <title>givingfor - giving is receiving</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/cover.css" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
<script>
  var socket = io();
</script>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <a href="/"><h3 class="masthead-brand">giving</h3><h3 class="masthead-brand" style="color:#B0B0B0" >for</h3></a>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/about/">about</a></li>
                <li><a href="/discover/">discover</a></li>
                <li><a href="#login-or-signup">join</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">about</h1>
            <p class="lead">giving is recieving</p>
            <p class="lead">givingfor abstract value (crypto)</p>
            <p class="lead">giving time, currency, items, good will, encouragement, content, professional appointments, consulting</p>
            <p class="lead">volunteering nearby, from home</p>
            <iframe width="560" height="315" src="//www.youtube.com/embed/QrJqGrxGEHw" frameborder="0" allowfullscreen></iframe>
            <p class="lead">helping with food, shelter, insurance discounts, cooperate partners</p>
            <p class="lead">vote on what the value should be spent on</p>
            <p class="lead">transparent</p>
            <p class="lead"><a href="http://www.voetr.com/committee/givingfor">voetr connected</a></p>
            <p class="lead"><a href="http://www.conex.us/project/givingfor">conex.us connected</a></p>
            <p class="lead">life is a necessity and a right, it's time to start seeing ourselves as a part of one larger organism. we can do this!</p>
            <p class="lead">givingfor's mission is to promote the right to life, to foster growth, and to spark change. giving is recieving.</p>
            <p class="lead">crowd giving platform</p>
            
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">click the button <i class=""></i></a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>project "givingfor" @<a href="http://hackgt.com/">hackgt</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>

  </body>
</html>
