<!DOCTYPE html>
<html>
  <head>
    <title>This is a title</title>
  </head>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
  <body>

  	<h3>givingfor</h3>
    <p>this is the about page</p>
    <p>this is the about page</p>
    <p>this is the about page</p>
    <p>this is the about page</p>
    <p>this is the about page</p>
    <p>this is the about page</p>
    <p>this is the about page</p>
    <p>this is the about page</p>
    <p>this is the about page</p>
    <p>this is the about page</p>
    <p>this is the about page</p>
    <p>this is the about page</p>
    <p>this is the about page</p>
    <p>this is the about page</p>
    <p>this is the about page</p>




  </body>
</html>
