<!DOCTYPE html>
<html>
  <head>
  <style>

a:hover {
    background-color: blue;
    text-decoration: none;
}
.about-blocks{
    padding: 2px; background-color: rgb(122,229,255); border: 40px solid rgb(0,128,255);
}
.about-blocks:hover {background-color:rgb(255,255,255)}
</style>


    <title>givingfor - giving is receiving</title>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/static/css/cover.css" type="text/css" />
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="ejs_production.js"></script>
  </head>
<script>
  var socket = io();
</script>

  <body style="background-color:#3BC7FF;">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container" style="width:80%">
          <div class="masthead clearfix">
            <div class="inner">
              <a href="/"><img style="float:left;height:88px;" src="/static/images/white-logo.png"/><h3 class="masthead-brand" style="padding-top:20px;">shr</h3><h3 class="masthead-brand" style="color:rgb(203, 204, 203);padding-top:20px;" >stuf</h3></a>
              <ul class="nav masthead-nav">
                <li><a href="/about/" style="padding-top:35px;">about</a></li>
                <li><a href="/discover/"><i class="fa fa-random" style="margin-right:5px;"></i>discover</a></li>
                <li><a href="/search/"><i class="fa fa-search"></i></a></li>
                <li><a data-toggle="modal" href="#login-or-signup" id="login-area">login or signup</a></li>
              </ul>
            </div>
          </div>
        </div>
        <br><br><br><br>
        <div class="inner cover" style="margin-left:15%;margin-right:15%;">
          <p> You have stuff you don’t need. Other people own what you do. We think that connecting and sharing this stuff should be easier. We made a website for you to do so. </p>
           <a href="/"><img style="float:center;height:700px;" src="/static/images/white-logo.png"/></a>

           <div id="find-switch">
             <div class="col-md-6 portfolio-item">
             
                    <div class="about-blocks" id="div-find-stuff">
                      <a href="/search/">
                        <p style="font-size:100px">
                           <font face='OSWALD' color:'rgb(71,188,255)'>
                              STUFF
                           </font>
                        </p>
                      </a>
                    </div>
                    <div id="div-find-stuff-by-tag" style="display:none">
                      <a href="/search/">
                          <p style="font-size:100px;color:rgb(71,188,255)">
                             <font face='OSWALD'>
                                <p>FIND STUFF</p>
                             </font>
                          </p>
                      </a>
                    </div>
              </div>
            </div>
          
           <div id="share-switch">
           <div class="col-md-6 portfolio-item">
                    <div class="about-blocks" id="div-share-stuff">
                      <a href="http://www.google.com">
                        <p style="font-size:100px">
                           <font face='OSWALD' color:'rgb(71,188,255)'>
                              <p>SHARE</p>
                           </font>
                        </p>
                      </a>
                    </div>
                    <div id="div-share-stuff-by-tag" style="display:none">
                      <a href="/search/">
                          <p style="font-size:100px;color:rgb(71,188,255)">
                             <font face='OSWALD'>
                                <p>SHARE BY TAG</p>
                             </font>
                          </p>
                      </a>
                    </div>
              </div>
            </div>

             <!--<div class="col-md-6 portfolio-item">
                <a href="http://www.google.com">
                    <div class="about-blocks">
                        <a href="#">
                            <p style="font-size:100px">
                            <font face='OSWALD' color:'rgb(71,188,255'>
                                PEOPLE     
                            </font>
                            </p>
                        </a>
                    </div>
                </a>
            </div>-->


            <div class="col-md-6 portfolio-item">
              <div id="people-tab-switch">
                    <div class="about-blocks" id="div-people-tab">
                      <a href="/search/">
                        <p style="font-size:100px">
                           <font face='OSWALD' color:'rgb(71,188,255)'>
                              <p>PEOPLE</p>
                           </font>
                        </p>
                      </a>
                    </div>
                    <div id="div-find-people-tab" style="display:none">
                      <a href="/search/">
                          <p style="font-size:100px;color:rgb(71,188,255)">
                             <font face='OSWALD'>
                                <p>FIND PEOPLE</p>
                             </font>
                          </p>
                      </a>
                    </div>
              </div>
            </div>


             <div class="col-md-6 portfolio-item">
              <div id="about-tab-switch">
                    <div class="about-blocks" id="div-about-tab">
                      <a href="/search/">
                        <p style="font-size:100px">
                           <font face='OSWALD' color:'rgb(71,188,255)'>
                              <p>ABOUT</p>
                           </font>
                        </p>
                      </a>
                    </div>
                    <div id="div-about-tab-contact" style="display:none">
                      <a href="/search/">
                          <p style="font-size:100px;color:rgb(71,188,255)">
                             <font face='OSWALD'>
                                <p>CONTACT</p>
                             </font>
                          </p>
                      </a>
                    </div>
              </div>
            </div>




<script>        
  $(document).ready(function(){
  $('#find-switch').hover(function() {
        $(this).find('#div-find-stuff').hide();
        $(this).find('#div-find-stuff-by-tag').show();
    }, function() {
        $(this).find('#div-find-stuff-by-tag').hide();
        $(this).find('#div-find-stuff').show();
  });
  $('#share-switch').hover(function() {
        $(this).find('#div-share-stuff').hide();
        $(this).find('#div-share-stuff-by-tag').show();
    }, function() {
        $(this).find('#div-share-stuff-by-tag').hide();
        $(this).find('#div-share-stuff').show();
  });      
  $('#people-tab-switch').hover(function() {
        $(this).find('#div-people-tab').hide();
        $(this).find('#div-find-people-tab').show();
    }, function() {
        $(this).find('#div-find-people-tab').hide();
        $(this).find('#div-people-tab').show();
  });      
  $('#about-tab-switch').hover(function() {
        $(this).find('#div-about-tab').hide();
        $(this).find('#div-about-tab-contact').show();
    }, function() {
        $(this).find('#div-about-tab-contact').hide();
        $(this).find('#div-about-tab').show();
  });

  });
</script>                     

          <!--<i class="fa fa-circle-thin" style="font-size:512px;"></i>-->
        
        </div>
        <br><br><br><br>
      </div>
    </div>


  </body>
</html>
 
  