<!DOCTYPE html>
<html>
  <head>
    <title>project title</title>
  </head>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="ejs_production.js"></script>
<script>
  var socket = io();
</script>
  <body>
    <p>project test</p>


    <p>project test</p>


  </body>
</html>
