<!DOCTYPE html>
<html>
  <head>
    <title>discover - givingfor</title>
  <script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/cover.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/socket.io.js"></script>
  <script type="text/javascript" src="/static/js/ejs_production.js"></script>
  </head>
<script>
  var socket = io();
</script>
<style>
    #discover-list-container{text-align:center;width:100%;}
    #discover-list-item{border:2px solid rgb(180,180,180);display:inline-block;padding:10px;margin:7px;border-radius:5px;background-color:rgb(225,225,225)}
    #discover-list-item:hover{border:2px solid rgb(110,110,110);display:inline-block;padding:11px;margin:7px;border-radius:5px;background-color:rgb(235,235,235);}
</style>

  <body style="background-color:#408C4B;">
  	<div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container" style="width:80%">
          <div class="masthead clearfix">
            <div class="inner">
              <a href="/"><img style="float:left;height:88px;" src="/static/images/tree.png"/><h3 class="masthead-brand" style="padding-top:20px;">giving</h3><h3 class="masthead-brand" style="color:rgb(203, 204, 203);padding-top:20px;" >for</h3></a>
              <ul class="nav masthead-nav">
                <li><a href="/about/" style="padding-top:35px;">about</a></li>
                <li><a href="/discover/"><i class="fa fa-random" style="margin-right:5px;"></i>discover</a></li>
                <li><a href="/search/"><i class="fa fa-search"></i></a></li>
                <li><a data-toggle="modal" href="#login-or-signup" id="login-area">login or signup</a></li>
              </ul>
            </div>
          </div>
        </div>
        <br><br><br><br>
          <div style="height:840px;margin-left:15%;margin-right:15%;">
            <h1 class="cover-heading" style="float:left;">discover</h1>
            <a href="/about/" style="float:right;"><button type="button" class="btn btn-primary">filter</button></a>

            <div style="clear:both;"></div>
            <br><br>
            <div class="well">
              <h5 style="color:rgb(80,80,80)">filters</h5>
              <div style="margin-right:16px;"><input name="search_form_add_tag" type="text" id="search_add_tag_form" /></div>
              <% for(var i=0; i<10; i++) {%>
                <p>tag</p>
              <% } %>
              <br>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="tags">
            </div>
            <br><br>
            <div class="well">
              <div id="discover-list-container">
              <% for(var i=0; i<35; i++) {%>
                <div id="discover-list-item">
                  <p class="lead" style=""><a href="/project/">project</a></p>
                  <p class="" style=""><a href="/project/">description</a></p>
                  <p class="lead" style=""><a href="/project/">tag1</a></p>
                </div>
              <% } %>
              <a href="/ajax/load"> load more</a>
              </div>
            </div>
          </div>
          <br><br><br><br>
      </div>
    </div>


  </body>
</html>
 
  

