<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <title>givingfor - giving is receiving</title>
  </head>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
    <title>This is a title</title>
  </head>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
  <body>
    <p class="lead">Hello world!!!!!!!!!!!!!!!!!!!</p>
  </body>
</html>
