<!DOCTYPE html>
<html>
  <head>
    <title>givingfor - giving is receiving</title>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/static/css/cover.css" type="text/css" />
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="ejs_production.js"></script>
  </head>
<script>
  var socket = io();
</script>

  <body style="background-color:#408C4B;">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container" style="width:80%">
          <div class="masthead clearfix">
            <div class="inner">
              <a href="/"><img style="float:left;height:88px;" src="/static/images/tree.png"/><h3 class="masthead-brand" style="padding-top:20px;">giving</h3><h3 class="masthead-brand" style="color:rgb(203, 204, 203);padding-top:20px;" >for</h3></a>
              <ul class="nav masthead-nav">
                <li><a href="/about/" style="padding-top:35px;">about</a></li>
                <li><a href="/discover/"><i class="fa fa-random" style="margin-right:5px;"></i>discover</a></li>
                <li><a href="/search/"><i class="fa fa-search"></i></a></li>
                <li><a data-toggle="modal" href="#login-or-signup" id="login-area">login or signup</a></li>
              </ul>
            </div>
          </div>
        </div>
        <br><br><br><br>
        <div class="inner cover" style="margin-left:15%;margin-right:15%;">

          

          

          <% for(var i=0; i<10; i++) {%>
                  <div id="project-list-item">
                    <p class="lead" style=""><a href="/project/">project title</a></p>
                    <img src="/static/images/noimage.png"/>
                    <p style="">detail detail detail detail detail</p>
                    <% for(var j=0; j<5; j++) {%>
                      <a href="/project/">tag</a>
                    <% } %>

                  </div>
                <% } %>
          <a href="/"><img style="float:center;height:88px;" src="/static/images/white-logo.png"/><h3 class="masthead-brand" style="padding-top:20px;" id="logo-text">shr</h3><h3 id="logo-text" class="masthead-brand" style="color:rgb(203, 204, 203);padding-top:20px;" >stuf</h3></a>
          <p>Complete transparency, a complete trail can be traced from end-to-end. When creating a project you must decide</p>
          <p>The overarching key, the one word that could sum up everything. Virality – constructing your philosophy in a way by which people will not only align with your idea, but also be excited to be a part of it. </p>
          <p>Virality is something that people can consume and share.</p>
          <p>givingfor is a transparent, nonprofit crowdgiving platform that</p>
          
        </div>
        <br><br><br><br>
      </div>
    </div>


  </body>
</html>
 
  