<!DOCTYPE html>
<html>
  <head>
    <title>givingfor - giving is receiving</title>
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/cover.css" type="text/css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
  </head>
<style>
.container {
    position: relative;
    width: 600px;
    height: 350px;
    background: #C0C0C0;
    margin: auto 0 auto;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
    border:1px solid #cccccc;
    opacity: 0.5;
}

.form-group {
    width 250px;
}
</style>
<script>
  $('#myModal').modal()  
  var socket = io();
  $( document ).ready(function() {
  $("#BigForm").submit(function(event)) {
    var NewMember = new member({
      name: {
        first: $("#inputFirst").val;
        last: $("#inputLast").val;
      }
      email: $("#inputEmail").val;
      password: $("#inputPass").val
    })
  }
  });
});

</script>
  <body style="background-color:#408C4B;">
  	<div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="row">
              <div class="col-md-4">
              <a href="/"><h3 class="masthead-brand">giving</h3><h3 class="masthead-brand" style="color:#B0B0B0" >for</h3></a>
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
              <ul class="nav masthead-nav">
                <li><a href="/about/">member name</a></li>
                <li class="active"><a href="/discover/">cool</a></li>
                <li><a href="#login-or-signup">kid</a></li>
              </ul>
            </div>
          </div>
          </div>
                <div class="container">
                    <form class="form-horizontal" id="BigForm" role="form">
                    <div class="form-group">
                    <label for="inputFirst" class="col-sm-3 control-label"> First Name:     
                     </label>
                    <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputFirst" placeholder="First Name">
                    </div>
                    </div>
                    <br />

                    <div class="form-group">
                    <label for="inputLast" class="col-sm-3 control-label"> 
                    Last Name:   
                     </label>
                    <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputLast" placeholder="Last Name">
                    </div>
                    </div>
                    <br />


                    <div class="form-group" >
                    <label for="inputEmail" class="col-sm-3 control-label"> Email:      
                     </label>
                    <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                    </div>
                    <br />


                    <div class="form-group" >
                    <label for="inputPass" class="col-sm-3 control-label"> Password:     
                     </label>
                    <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputPass" placeholder="Password">
                    </div>
                    </div>
                    <br />
                  </form>
                  </div>

                </div>

          </div> 
        </div>

          <div class="mastfoot">
            <div class="inner">
              <p>project "givingfor" @<a href="http://hackgt.com/">hackgt</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>

  </body>
</html>
