<!DOCTYPE html>
<html>
  <head>
    <title>givingfor - giving is receiving</title>
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/cover.css" type="text/css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
  </head>
<script>
  $('#myModal').modal()  
  var socket = io();
  $( document ).ready(function() {
  $('button:first').click(function(){
  $('#myModal').modal('show') 
  });
});
</script>
  <body style="background-color:#408C4B;">
  	<div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="row">
              <div class="col-md-4">
              <a href="/"><h3 class="masthead-brand">giving</h3><h3 class="masthead-brand" style="color:#B0B0B0" >for</h3></a>
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
              <ul class="nav masthead-nav">
                <li><a href="/about/">member name</a></li>
                <li class="active"><a href="/discover/">cool</a></li>
                <li><a href="#login-or-signup">kid</a></li>
              </ul>
            </div>
          </div>
          </div>
                <div class="container marketing">
                <div class="row">
                <div class="col-md 8">
                    <form class="form-horizontal" role="form">
                    <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label"> First Name:     
                     </label>
                    <div class="col-sm-5">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                    </div>
                    </div>
                    <br />

                    <form class="form-horizontal" role="form">
                    <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label"> 
                    Last Name:   
                     </label>
                    <div class="col-sm-5">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Last Name">
                    </div>
                    </div>
                    </div>
                    <br />

                    <form class="form-horizontal" role="form">
                    <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label"> Email:      
                     </label>
                    <div class="col-sm-5">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                    </div>
                    </div>
                    <br />

                    <form class="form-horizontal" role="form">
                    <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label"> Password:     
                     </label>
                    <div class="col-sm-5">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Password">
                    </div>
                    </div>
                    </div>
                    <br />

                </div>

          </div> 
        </div>

          <div class="mastfoot">
            <div class="inner">
              <p>project "givingfor" @<a href="http://hackgt.com/">hackgt</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>

  </body>
</html>
