<!DOCTYPE html>
<html>
  <head>
    <title>search - givingfor</title>
    <script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/cover.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
  <link rel="stylesheet" type="text/css" href="/static/css/jquery.tagsinput.css" />
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/socket.io.js"></script>
  <script type="text/javascript" src="/static/js/ejs_production.js"></script>
  <script type="text/javascript" src="/static/js/jquery.tagsinput.js"></script>  
  </head>
<script>
  var socket = io();
  function onAddTag_search(tag) {
    //ajax call here
  }
  $(document).ready(function() {
    alert('test');
    $('#search_add_tag_form').tagsInput({ 
      onAddTag:onAddTag_search,
      onRemoveTag:onAddTag_search,
      'defaultText':'tags',
      'width':'auto',
      'height':'auto'
    });
  });
</script>
<style>
  #search-list-item:hover{background-color:rgb(220,220,220);}
</style>

  <body style="background-color:#408C4B;">
  	<div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container" style="width:80%">
          <div class="masthead clearfix">
            <div class="inner">
              <a href="/"><img style="float:left;height:88px;" src="/static/images/tree.png"/><h3 class="masthead-brand" style="padding-top:20px;">giving</h3><h3 class="masthead-brand" style="color:rgb(203, 204, 203);padding-top:20px;" >for</h3></a>
              <ul class="nav masthead-nav">
                <li><a href="/about/" style="padding-top:35px;">about</a></li>
                <li><a href="/discover/"><i class="fa fa-random" style="margin-right:5px;"></i>discover</a></li>
                <li><a href="/search/"><i class="fa fa-search"></i></a></li>
                <li><a data-toggle="modal" href="#login-or-signup" id="login-area">login or signup</a></li>
              </ul>
            </div>
          </div>
        </div>
        <br><br><br><br>
          <div style="height:840px;margin-left:15%;margin-right:15%;">
            <i style="font-size:64px;float:left;margin-right:15px;" class="fa fa-search"></i>
            <h1 style="float:left;" class="cover-heading">search: search-query</h1>
            <div style="clear:both;"></div>
            <br><br>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="search">
            <br><br>
            <div class="well">
              <h5 style="color:rgb(80,80,80)">filters</h5>
              <div style="margin-right:16px;"><input name="search_form_add_tag" type="text" id="search_add_tag_form" /></div>
              <% for(var i=0; i<10; i++) {%>
                <p>tag</p>
              <% } %>
              <br>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="tags">
            </div>
            <br><br>
            <div class="btn-toolbar" style="margin-left:15px;float:left;">
              <div class="btn-group">
                <a class="btn active" id="view-list"><i class="icon-align-justify"></i></a>
                <a class="btn" id="view-table"><i class="icon-th"></i></a>
              </div>
            </div>
            <div class="well">
              <% for(var i=0; i<35; i++) {%>
                <div id="search-list-item">
                  <img style="height:64px;float:left;" src="/static/images/noimage.png"/>
                  <p class="lead" style="color:rgb(10,10,10);text-align:left;">resutls</p>
                  <a><p style="text-align:left;color:rgb(140,140,140);">#hashtag</p></a>
                  <hr>
                </div>
              <% } %>
              <a href=""><p class="lead" style="color:rgb(10,10,10)">load more</p></a>
            </div>
          </div>
          <br><br><br><br>
      </div>
    </div>
  </body>
</html>
 
  

		