



<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
  <title>givingfor - giving is receiving</title>
  <script src="/webrtc.io.js"></script>
  <script>

  // note: make sure hostname available to all connecting clients
  // (ie. probably not `localhost`)
  rtc.connect('ws://yourserveraddress:8001');

  rtc.createStream({"video": true, "audio":false}, function(stream){
    // get local stream for manipulation
    rtc.attachStream(stream, 'local');
  });

  rtc.on('add remote stream', function(stream){
    // show the remote video
    rtc.attachStream(stream, 'remote');
  });

  // more rtc callbacks are available
  </script>
  </head>
  <body>
    <video id="local" autoplay="autoplay"></video>
    <video id="remote" autoplay="autoplay"></video>
  </body>
</html>